@model IEnumerable<PremiumCalculatorApp.ViewModels.UserDisplayViewModel>

@{
    ViewBag.Title = "Calculated Premium";
}

<p>
    @Html.ActionLink("Calculate Monthly Premium", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeathSumInsured)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Occupation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthlyPremium)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Age)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateOfBirth)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DeathSumInsured)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Occupation)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MonthlyPremium)
    </td>
</tr>
    }

</table>
